@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,900;1,6..96,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Bodoni Moda', serif;
    font-size: 1.3rem;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308, #0b3317);

}

.left-text{
    flex-basis: 30%;
    cursor: pointer;
}

.heading{
    font-size: 3rem;
    color: whitesmoke;
    text-align: center;
}

.subheading{
    color: azure;
    margin-top: 10px;
    text-align: center;
}

.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-auto-rows: 120px;
    grid-template-columns: repeat(3, 1fr);

}

.box{
    background-size: cover;
    background-position: top;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1.5s ease-in-out;
    cursor: pointer;
}

.box:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 23.5px rgb(211, 250, 15);
}

.row-2{
    grid-row: span 2 /auto;
    
}

.col-2{
    grid-column: span 2 /auto;
}

h4{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: flex;
    justify-content: center;
}